{% extends 'base.html.twig' %}
{% block h1 %} <i class="fa fa-leaf"></i> Ajouter un produit{% endblock %}
{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="{{ 'btn.create' | trans }}" class="btn btn-success" />
        <a href="{{ path('product_list') }}" class="btn btn-default">{{ 'btn.back_to_list' | trans }}</a>
    {{ form_end(form) }}

{% endblock %}
