{% extends 'base.html.twig' %}
{% block h1 %} <i class="fa fa-leaf"></i> Détail du produit {{ box.label }}{% endblock %}
{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ product.label }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ product.reference }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            {% if product.image %}
            <tr>
                <th>Photo</th>
                <td><img src="{{  asset('images/' ~product.image.path) }}" height="100" /></td>
            </tr>
        {% endif %}

        </tbody>
    </table>


        <p>
            <a href="{{ path('product_list') }}" class="btn btn-default">{{ 'btn.back_to_list' | trans }}</a>
        </p>
        <p>
            <a href="{{ path('product_edit', { 'id': product.id }) }}" class="btn btn-success">{{ 'btn.edit' |trans }}</a>
        </p>
        <p>
            {{ form_start(delete_form) }}
                <input type="submit" value="{{ 'btn.delete' | trans }}" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </p>

{% endblock %}
