{% extends 'base.html.twig' %}

{% block body %}
    <h1>Box edit</h1>
    {{ dump(box) }}
    {{ form_start(form) }}


        <input type="submit" value="{{ 'btn-edit' | trans }}" />
    {{ form_end(form) }}


    <ul>
        <li>
            <a href="{{ path('box_list') }}">{{ 'btn.back_to_list' | trans }}</a>
        </li>

    </ul>
{% endblock %}
