{% extends 'base.html.twig' %}

{% block body %}
    <h1>Box edit</h1>

    {{ form_start(edit_form) }}

            {{ form_row(edit_form.name) }}
            {{ form_row(edit_form.budget) }}
        {% for product in edit_form.product %}


        {% endfor %}
        <input type="submit" value="{{ 'btn-edit' | trans }}" />
    {{ form_end(edit_form) }}


    <ul>
        <li>
            <a href="{{ path('box_list') }}">{{ 'btn.back_to_list' | trans }}</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="{{ 'btn.delete' | trans }}">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
