{% extends 'base.html.twig' %}

{% block h1 %}Gérer la box{% endblock %}
{% block body %}
{#    <ul>
        <li>
            <a href="{{ path('box_list') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('box_edit', { 'id': box.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>#}
    <div class="row">
    <div class="col-lg-9">
        <div class="panel panel-red">
            <div class="panel-heading">{{ box.name }}</div>
            <div class="panel-body">
                <h4>Budget : &euro; {{ box.budget }}</h4>
                <p>Etat : {{ box.state | trans }}</p>
                <p>
                {% if workflow_transitions(box)|length > 0 %}
                    {{ form_start(form) }}
                    <button class="btn btn-success" type="submit">Passer à l'étape : <strong>{{ ('btn.' ~ btn_state) | trans }}</strong></button>
                    {{ form_end(form) }}
                {% else %}
                    <p><strong>La box est prête</strong></p>
                {% endif %}
                </p>
                <p><a href="{{ path('box_list') }}" class="btn btn-default">Retour à la liste</a></p>
            </div>
        </div>
        <!-- /.card -->

        <div class="panel panel-default">
            <div class="panel-heading">
                Produits
            </div>
            <div class="panel-body">

                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                    <tr>
                        <th>Label</th>
                        <th>Description</th>
                        <th>Etat</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                {% for boxProduct in boxProducts %}
                    <tr class="{{ loop.index is even ? 'even' : 'odd' }}">
                        <td>{{ boxProduct.product.label }}</td>
                        <td>{{ boxProduct.product.description }}</td>
                        <td>{{ boxProduct.state | trans }}</td>
                        <td>
                            {% if workflow_has_marked_place(boxProduct, 'complete') == false %}
                                    {% for transition in workflow_transitions(boxProduct) %}
                                        {% if workflow_can(boxProduct, transition.name) %}
                                            <form method="post" action="{{ path('product_validate', {'box_id' : box.id, 'id':boxProduct.product.id}) }}">
                                                <input type="hidden" name="state" value="{{ transition.name }}">
                                            <button type="submit" class="btn btn-primary">{{ ('btn.'~transition.name) | trans }}</button>
                                            </form>
                                        {% endif %}
                                     {% else %}
                                        ---
                                    {% endfor %}


                            {% endif %}
                            </td>
                    </tr>
                {% endfor %}
            </div>
        </div>
        <!-- /.card -->
    </div>
    </div>
{% endblock %}
