{% extends 'base.html.twig' %}

{% block h1 %}Gérer la box{% endblock %}
{% block body %}
{#    <ul>
        <li>
            <a href="{{ path('box_list') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('box_edit', { 'id': box.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>#}
    <div class="row">
    <div class="col-lg-9">
        <div class="panel panel-red">
            <div class="panel-heading">{{ box.name }}</div>
            <div class="panel-body">
                <h4>Budget : &euro; {{ box.budget }}</h4>
                <p>Etat : {{ box.state | trans }}</p>
                <p>
                    <p><strong>La box est {{ box.state | trans }}</strong></p>
                </p>
                <p><a href="{{ path('box_list') }}" class="btn btn-default">Retour à la liste</a></p>
            </div>
        </div>
        <!-- /.card -->

        <div class="panel panel-default">
            <div class="panel-heading">
                Produits
            </div>
            <div class="panel-body">

                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                    <tr>
                        <th>Label</th>
                        <th>Photo</th>
                        <th>Description</th>
                        <th>Etat</th>

                    </tr>
                    </thead>
                {% for boxProduct in box.boxProduct %}
                    <tr class="{{ loop.index is even ? 'even' : 'odd' }}">
                        <td><a href="{{ path('product_show', {'id' : boxProduct.product.id}) }}">{{ boxProduct.product.label }}</a></td>
                        <td><img src="{{ boxProduct.product.image ? asset('images/' ~ boxProduct.product.image.path) }}" alt="Photo {{ boxProduct.product.label }}" height="100" /></td>
                        <td>{{ boxProduct.product.description }}</td>
                        <td>{{ boxProduct.state | trans }}</td>
                    </tr>
                {% endfor %}
            </div>
        </div>
        <!-- /.card -->
    </div>
    </div>
{% endblock %}
