{% extends 'base.html.twig' %}
{% block h1 %} <i class="fa fa-leaf"></i> Les Produits{% endblock %}
{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <!-- Split button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">Action</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('user_edit', { 'id': user.id }) }}">{{ 'btn.edit' | trans }}</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


        <p>
            <a href="{{ path('user_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i> {{ 'btn.new' | trans }}</a>
        </p>

{% endblock %}
